<%- include('./_layout/header') %>

    <div class="container">
        <h1>GYM SHOP</h1>
        <div class="row">
            <div class="col-md-4">
                <!-- Content on the left side -->
                <p>Some additional information about our business location.</p>
                <!-- Add any other content you want on the left side -->
                <br>
                <br>
                <br><br>
                <a href="https://www.facebook.com/profile.php?id=100083914426241" target="_blank">
                    <i class="fab fa-facebook-square"></i> Visit us on Facebook
                </a>
            </div>
            <div class="col-md-4">
                <!-- Map on the right side -->
                <div class="embed-responsive embed-responsive-16by9">
                    <iframe class="embed-responsive-item"
                        src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d2417.779102441768!2d16.990752!3d51.1220055!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x470feb32eb0e2065%3A0x504395f3a5392cc2!2sGYM%20SHOP!5e0!3m2!1sen!2sus!4v1624891224669!5m2!1sen!2sus"
                        style="border:0;" allowfullscreen="" loading="lazy"></iframe>
                </div>
            </div>
        </div>
    </div>

    <%- include('./_layout/footer') %>